input::file-selector-button {
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    background-color: rgb(156, 16, 231);
}
.upload-button {
    color: rgb(68, 67, 67);
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.label {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;
}
.upload-file-button{
    margin-top: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    background-color: rgb(34, 231, 16);
}
